.light-theme {
  --bg-image: url("images/bg-desktop-light.jpg");
  --lower-bg: hsl(0, 0%, 98%);
  --checkbg: linear-gradient(90deg, hsl(280, 87%, 65%), hsl(192, 100%, 67%));
}
.dark-theme {
  --bg-image: url("images/bg-desktop-dark.jpg");
  --lower-bg: hsl(235, 21%, 11%);
  --checkbg: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
body {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--lower-bg);
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border: solid 1px white;
}
.logo a {
  text-decoration: none;
  color: white;
}
.app {
  width: 600px;
  margin: 20px auto;
  border: solid 1px red;
}
.create-new {
  height: 40px;
  margin: 30px 0;
  padding: 7px;
  align-content: center;
  border: solid 1px red;
  box-sizing: border-box;
}
input[type=text] {
  width: 400px;
}

/* Styles for the to do list */
.todo-list {
  margin: 30px 0;
  border: solid 1px red;
}
.task {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 10px;
  border-bottom: solid 1px red;
  box-sizing: border-box;
}
.task p {
  display: inline-block;
  margin: 0 10px ;
}
.close-button {
  width: 20px;
}
.completed-task {
  text-decoration: line-through;
}

/* Styles for the bottom */
.bottom {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.bottom p {
  display: inline-block;
  margin: 0 10px ;
}
.footer {
  text-align: center;
}
@media screen and (min-width = 375px) {
  
}